@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

:root {
  --primary-color: #e187bc;
  --secondary-color: #fff;
  --accent-color: #fd88c9;
  --background-color: #f4f4f9;
  --text-color: #666;
  --dark-color: #222;
  --light-color: #777;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Comfortaa", sans-serif;
}

body {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
}

#main-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  width: calc(100% - 40px);
  height: 100%;
}

#left-panel {
  background-color: var(--primary-color);
  padding: 20px;
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: calc(25% - 40px);
  height: 100vh;
}

#left-panel h1 {
  font-size: 32px;
  margin-bottom: 10px;
  font-family: "Righteous", cursive;
}

#menu {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.menu-button {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.menu-button:hover {
  background-color: var(--accent-color);
  color: var(--secondary-color);
}

#profile-info {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  padding: 10px;
  border-radius: 8px;
  color: var(--secondary-color);
  cursor: pointer;
}

#profile-info-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

#profile-modal {
  font-size: 16px;
}

#profile-modal-buttons-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-modal-buttons {
  background-color: var(--accent-color);
  color: var(--secondary-color);
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
  box-shadow: var(--primary-color) 2px 5px;
}

.profile-modal-buttons:hover {
  background-color: var(--primary-color);
  transform: translate(2px, 2px);
  color: var(--secondary-color);
}

#profile-info h3 {
  color: var(--secondary-color);
}

#main-content {
  width: calc(75% - 40px);
  padding: 20px;
  display: flex;
  gap: 20px;
  height: 25%;
}

#revenue-chart-container,
#goals-chart-container {
  flex: 1;
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 2px 2px 10px var(--shadow-color);
}

footer {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text-color);
}

.unstyled-link {
  text-decoration: none;
  color: inherit;
}
